.startup-card,.event-card{
    border: 0px;
    border-radius: 0;
    box-shadow: none;
    background-color:transparent;
    font-size: 13px;
}
.event-card img{
    height: 190px;
}
.startup-title{
    margin-bottom: 5px;
}
.startup-card img{
    height: 230px;
}
.startup-card .card-body{
    padding: 0.8rem;
}
.overlay{
    z-index: 2;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    width: 100%;
    height: 340px;
}
.icon-cloud{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: -2.5rem;
    text-align: center;
    border-radius: 100%;
    font-size: 18px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px rgba(4, 4, 7, 0.1);
    border: 1px solid #ebecf1;
    vertical-align: middle;
    color: #5c678f;
    /* margin: 5px; */
    margin-right: 15px;
    padding: 10px;
}

.image_area {
    position: relative;
}

img {
    display: block;
    max-width: 100%;
}

.preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.modal-lg{
    max-width: 1000px !important;
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0;
    transition: .5s ease;
    width: 100%;
}

.image_area:hover .overlay {
    height: 50%;
    cursor: pointer;
}

.text {
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.event_date{
    width: 80px;
    height: 70px;
    -webkit-box-shadow: 4px 8px 12px 0 rgb(35 31 32 / 10%);
    box-shadow: 4px 8px 12px 0 rgb(35 31 32 / 10%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.event_date .day {
    display: block;
    color: #F29124;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
}
.event_date .month{
    display: block;
    color: #757575;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
}

.section-explore .explore-card{
    margin-bottom: 12px;
    position: relative;
    min-height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #a9a9a9;
    /* border-bottom: 8px solid #F29124; */
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-radius: 10px;
}

.section-explore h3 {
    position: relative;
    margin-bottom: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}
.section-explore .subtitle {
    position: relative;
    margin: 0 16px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    opacity: 0;
    -webkit-transition: .5s;
    transition: .5s;
}
.section-explore .explore-card:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(242,145,36,.85);
    z-index: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.section-explore .explore-card:hover {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
    border-radius: 10px;
}
.section-explore .explore-card:hover .subtitle, .section-explore .explore-card:hover:after {
    opacity: 1;
    color: #fff
}
.section-explore .explore-card .subtitle, .section-explore .explore-card h3 {
    z-index: 2;
}


.carousel {
    margin-bottom: 0;
    padding: 0 0 30px 0;
}

.arrival-product .arrival-item ul {
    margin: 0;
    padding: 0;
}
.arrival-product .arrival-item ul li {
    float: left;
    list-style: none;
    width: 23%;
    overflow: hidden;
    margin-right: 2.6%;
}
.arrival-product .arrival-item ul li:last-child {
    margin-right: 0;
}
